{{> nav/nav-block}}


  <img id="example-image" src={{example.image}}>
  <section class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <section class="mb-8">
      <h3 class="text-black font-bold text-xl mb-2" name="card-title" id="card-title">{{example.title}}</h3>
      <p class="text-grey-darker text-base" name="year" id="year"><strong>Year</strong>: {{example.year}}</p>
      <p class="text-grey-darker text-base" name="author" id="author"><strong>Author</strong>: {{example.author}}</p>
      <p class="text-grey-darker text-base" name="director" id="director"><strong>Director</strong>: {{example.director}}</p>
      <p class="text-grey-darker text-base" name="genre" id="genre"><strong>Genre</strong>: {{example.genre}}</p>
      <p class="text-grey-darker text-base" name="synopsis" id="synopsis"><strong>Synopsis</strong>: {{example.synopsis}}</p>
      <p class="text-grey-darker text-base" name="my-rating" id="my-rating"><strong>My Rating</strong>: {{example.rating}}</p>
      <p class="text-grey-darker text-base" name="my-review" id="my-review"><strong>My Review</strong>: {{example.review}}</p>
      <p class="text-grey-darker text-base" name="cast" id="cast"><strong>Cast</strong>: {{example.cast}}</p>
      
    </section>
  </section>


{{> modal/login-block}}
