<body>
<section class="row">
    <section class="col-md-6">
     <h4>Examples belong to this user:</h4>
        <ol></ol> id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">Title: {{this.title}} Year: {{this.year}} Rating: {{this.rating}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ol>
      </section>
    </section>
    <section class="col-md-6" id="munchies-detail">
        <p>other stuff goes here</p>
    </section>
</section>
<script src="/assets/js/example.js"></script>
</body>