<body>
<section class="row">
    <section class="col-md-6">
     <h4>Your munchies:</h4>
        <ol id="example-list" class="list-group">
          {{#each examples}}
            <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}"> <strong>{{this.title}}</strong> {{this.year}} {{this.rating}}</a>
            <button id="delete-munchie" class="btn btn-danger delete">ｘ</button>
            </li>
          {{/each}}
        </ol>
      </section>
    </section>
    <section class="col-md-6" id="munchies-detail">
        <p>other stuff goes here</p>
    </section>
</section>
<script src="/assets/js/example.js"></script>
</body>